<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links of CSS Files -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/fonts/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.min.css">
    <link rel="stylesheet" href="static/assets/css/meanmenu.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/responsive.css">
    <link rel="stylesheet" href="static/assets/css/theme-dark.css">

    <title>Medizo - Medical Health & Doctor Clinic HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="static/assets/img/favicon.png">
</head>
<body style="width: 100%; margin: 0; padding: 0;">

    <!-- Pre Loader -->
    <div class="preloader" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 9999;">
        <div class="d-table" style="height: 100%; width: 100%;">
            <div class="d-table-cell" style="text-align: center; vertical-align: middle;">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
    <!-- End Pre Loader -->

    {% include "nav.html" %}

    <!-- Inner Banner -->
    <div class="inner-banner inner-bg2" style="width: 100%; display: flex; align-items: center; justify-content: center;">
        <div class="container">
            <div class="inner-title">
                <h3>Appointment</h3>
                <ul>
                    <li>
                        <a href="index">Home</a>
                    </li>
                    <li>Appointment</li>
                </ul>
            </div>
        </div>
        <div class="inner-banner-shape">
            <div class="shape1">
                <img src="static/assets/img/inner-banner/inner-banner-shape1.png" alt="Images">
            </div>
            <div class="shape2">
                <img src="static/assets/img/inner-banner/inner-banner-shape2.png" alt="Images">
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->

    <!-- Appointment Widget -->
    <div class="appointment-widget pt-100 pb-70" style="width: 100%;">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="appointment-widget-right">
                        <img src="static/assets/img/appointment/appointment-img4.jpg" alt="Images" style="width: 100%;">
                        <div class="appointment-hours">
                            <h3>Open Hours</h3>
                            <ul>
                                <li>Monday <span>8:00 am - 9:30 pm</span></li>
                                <li>Tuesday <span>8:00 am - 9:30 pm</span></li>
                                <li>Wednesday <span>8:00 am - 9:30 pm</span></li>
                                <li>Thursday <span>8:00 am - 9:30 pm</span></li>
                                <li>Friday <span>8:00 am - 9:30 pm</span></li>
                                <li>Saturday <span>8:00 am - 9:30 pm</span></li>
                                <li>Sunday <span>8:00 am - 9:30 pm</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="appointment-widget-form">
                        <div class="appointment-from">
                            <h2>Get Your Appointment</h2>
                            <p>Online Easily During This Corona Pandemic</p>
                            <form method="POST" action="/appointment">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <select name="department" class="form-control" required style="color: grey;">
                                                {% if selected_department_name %}
                                                    <option value="{{ selected_department }}" selected>
                                                        Selected Department: {{ selected_department_name }}
                                                    </option>
                                                {% else %}
                                                    <option value="" selected>Select Departments</option>
                                                {% endif %}
                                                {% for i in data1 %}
                                                    {% if selected_department != i.id %}
                                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12">
                                        <button type="submit" class="default-btn">
                                            Select Department
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <br>

                            {% if data2 %}
                            <form method="POST" action="/book_appointment">
                                {% csrf_token %}
                                <input type="hidden" name="department" value="{{ selected_department }}">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <select name="doctor" class="form-control" required style="color: grey;">
                                                <option value="">Select Doctor</option>
                                                {% for i in data2 %}
                                                <option value="{{ i.id }}">{{ i.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
    <div class="form-group">
        <input type="text" name="name" class="form-control" required placeholder="Name">
    </div>
</div>
<div class="col-lg-6 col-sm-6">
    <div class="form-group">
        <input type="email" name="email" class="form-control" required placeholder="Email">
    </div>
</div>

<style>
    /* General styles for input fields */
    .form-control {
        color: black; /* Text color for input fields */
    }

    /* Placeholder color */
    .form-control::placeholder {
        color: gray; /* Placeholder color */
    }

    /* Optional: Change placeholder color on focus */
    .form-control:focus::placeholder {
        color: lightgray; /* Change placeholder color on focus */
    }
</style>
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="date" name="appointment_date" class="form-control" required style="color: grey;">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="time" name="appointment_time" class="form-control" required placeholder="Select Time" style="color: grey;">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn">
                                            Book An Appointment
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment Widget End -->

    <!-- Emergency Area -->
    <div class="emergency-area ptb-100" style="width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="emergency-content">
                        <h2>Get <b>Emergency</b> Care 24/7</h2>
                        <p>We are always at your side. We are 24 hours available for you in emergency situation.</p>
                        <div class="emergency-icon-content">
                            <i class="flaticon-24-hours-1"></i>
                            <h3><a href="tel:812345678912">+8 (123) 456 789 12</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="emergency-shape">
            <img src="static/assets/img/emergency/emergency-shape.png" alt="Images" style="width: 100%;">
        </div>
    </div>
    <!-- Emergency Area End -->

    <!-- Brand Area -->
    <div class="brand-area brand-bg" style="width: 100%;">
        <div class="container">
            <div class="brand-slider owl-carousel owl-theme">
                <div class="brand-item">
                    <img src="static/assets/img/brand/brand-img1.png" class="brand-logo-one" alt="Images">
                    <img src="static/assets/img/brand/brand-logo1.png" class="brand-logo-two" alt="Images">
                </div>
                <div class="brand-item">
                    <img src="static/assets/img/brand/brand-img2.png" class="brand-logo-one" alt="Images">
                    <img src="static/assets/img/brand/brand-logo2.png" class="brand-logo-two" alt="Images">
                </div>
                <div class="brand-item">
                    <img src="static/assets/img/brand/brand-img3.png" class="brand-logo-one" alt="Images">
                    <img src="static/assets/img/brand/brand-logo3.png" class="brand-logo-two" alt="Images">
                </div>
                <div class="brand-item">
                    <img src="static/assets/img/brand/brand-img4.png" class="brand-logo-one" alt="Images">
                    <img src="static/assets/img/brand/brand-logo4.png" class="brand-logo-two" alt="Images">
                </div>
                <div class="brand-item">
                    <img src="static/assets/img/brand/brand-img5.png" class="brand-logo-one" alt="Images">
                    <img src="static/assets/img/brand/brand-logo5.png" class="brand-logo-two" alt="Images">
                </div>
                <div class="brand-item">
                    <img src="static/assets/img/brand/brand-img6.png" class="brand-logo-one" alt="Images">
                    <img src="static/assets/img/brand/brand-logo6.png" class="brand-logo-two" alt="Images">
                </div>
                <div class="brand-item">
                    <img src="static/assets/img/brand/brand-img3.png" class="brand-logo-one" alt="Images">
                    <img src="static/assets/img/brand/brand-logo3.png" class="brand-logo-two" alt="Images">
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Area End -->


<!-- Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex justify-content-center"> <!-- Centering the content -->
                <div class="footer-widget">
                    <h3>Contact Info</h3>
                    <p>🌿 Get in Touch for Expert Homeopathic Care 🌿</p>
                    <ul class="footer-contact-list">
                        <li>
                            <i class='flaticon-pin'></i>
                            <div class="content">
                                123, Homeo Wellness Clinic, C.G. Road, Ahmedabad, Gujarat, India
                            </div>
                        </li>
                        <li>
                            <i class='flaticon-phone-call'></i>
                            <div class="content">
                                <a href="tel:0015481592491">+91-98765 43210</a>
                                <a href="tel:0015481592492">+91-98765 43211</a>
                            </div>
                        </li>
                        <li>
                            <i class='bx bxs-envelope'></i>
                            <div class="content">
                                <a><span class="__cf_email__" data-cfemail="b3dbd6dfdfdcf3ded6d7dac9dc9dd0dcde">contact@yourhomeopathy.in</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex justify-content-center"> <!-- Centering the content -->
                <div class="footer-widget">
                    <h3>Important Link</h3>
                    <ul class="footer-list">
                        <li>
                            <a href="about" target="_blank">
                                <i class='bx bxs-chevron-right'></i>
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="departments" target="_blank">
                                <i class='bx bxs-chevron-right'></i>
                                Departments
                            </a>
                        </li>
                        <li>
                            <a href="services-1" target="_blank">
                                <i class='bx bxs-chevron-right'></i>
                                Services
                            </a>
                        </li>
                        <li>
                            <a href="doctors" target="_blank">
                                <i class='bx bxs-chevron-right'></i>
                                Doctors
                            </a>
                        </li>
                        <li>
                            <a href="/appointment" target="_blank">
                                <i class='bx bxs-chevron-right'></i>
                                Appointment
                            </a>
                        </li>
                        <li>
                            <a href="/shop" target="_blank">
                                <i class='bx bxs-chevron-right'></i>
                                Medicine
                            </a>
                        </li>
                        <li>
                            <a href="contact" target="_blank">
                                <i class='bx bxs-chevron-right'></i>
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 d-flex justify-content-center"> <!-- Centering the content -->
                <div class="footer-widget ps-2">
                    <div class="footer-logo">
                        <a href="/">
                            <img src="/static/assets/img/logo.png" class="footer-logo1" alt="Images">
                            <img src="/static/assets/img/logo-2.png" class="footer-logo2" alt="Images">
                        </a>
                    </div>
                    <p>🌿 Natural Healing with Homeopathy 🌿</p>
                    <p>Safe, effective, and personalized treatments for a healthier you. Restore balance naturally! ✨💚</p>
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com/" target="_blank"><i class='bx bxl-pinterest-alt'></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/" target="_blank"><i class='bx bxl-youtube'></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->


    <!-- Copy-Right Area -->
    <div class="copy-right-area">
        <div class="container">
            <div class="copy-right-text text-center">
                <p>
                    Copyright ©<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear())</script> Medizo. All Rights Reserved by
                    <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Copy-Right Area End -->

    <!-- Links of JS Files -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="static/assets/js/owl.carousel.min.js"></script>
    <script src="static/assets/js/jquery.nice-select.min.js"></script>
    <script src="static/assets/js/wow.min.js"></script>
    <script src="static/assets/js/meanmenu.js"></script>
    <script src="static/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="static/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/assets/js/form-validator.min.js"></script>
    <script src="static/assets/js/contact-form-script.js"></script>
    <script src="static/assets/js/custom.js"></script>

</body>
</html>